.body {
    margin: 0;
    padding: 0;
    display: block;
}

.tree {
    position: relative;
    margin-top: -30px;
}

.upper {
    background-color: rgb(24, 29, 24);
    position: relative;
    width: 80px;
    height: 80px;
    left: 40px;
    top: 50px;
    border-radius: 50%;
}

.middle-box,
.lower-box {
    font-size: 0;
}

.middle1,
.middle2 {
    background-color: rgb(34, 36, 34);
    width: 80px;
    height: 80px;
    display: inline-block;
    position: relative;
}

.middle1 {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

.middle2 {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

.lower1,
.lower2 {
    background-color: green;
    width: 80px;
    height: 80px;
    display: inline-block;
    border-radius: 50%;
    position: relative;
    bottom: 35px;
}

.lower1 {
    left: 10px;
}

.lower2 {
    right: 10px;
}

.trunk {
    background-color: saddlebrown;
    width: 40px;
    height: 200px;
    position: relative;
    left: 60px;
    bottom: 60px;
    z-index: -1;
}

































